{% extends "layout_default.html.twig" %}
{% block meta_title %}{{ 'Error'|trans }}{% endblock %}
{% block body_class %}border-top-wide border-primary d-flex flex-column{% endblock %}
{% block body %}
<div class="page page-center">
   <div class="container-tight py-4">
      <div class="empty">
         {% if exception.getCode %}
         <div class="empty-header">{{ exception.getCode }}</div>
         {% else %}
         <div class="empty-header">404</div>
         {% endif %}
         <p class="empty-title">{{ 'Whoops! This is not the web page you are looking for.'|trans }}</p>
         <p class="empty-subtitle text-muted">
            {{ exception.getMessage }}.
         </p>
         <div class="empty-action">
            <a href="{{ '/' | link}}" class="btn btn-primary">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 12l14 0" />
                  <path d="M5 12l6 6" />
                  <path d="M5 12l6 -6" />
               </svg>
               Back to Homepage
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}