<!DOCTYPE html>
<html class="no-js" lang="{{ guest.system_locale|replace({'_': '-'}) }}"{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %} {{ 'dir="rtl"'| raw}}{% endif %} data-bs-theme="{{ settings.theme|default('light') }}"{% if settings.theme_color_enabled %} data-bs-theme-primary="{% if settings.theme_color == 1 %}primary{% elseif settings.theme_color == 2 %}purple{% elseif settings.theme_color == 3 %}pink{% elseif settings.theme_color == 4 %}red{% elseif settings.theme_color == 5 %}orange{% elseif settings.theme_color == 6 %}yellow{% elseif settings.theme_color == 7 %}green{% elseif settings.theme_color == 8 %}teal{% else %}indigo{% endif %}"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{{ settings.meta_title_prefix }} {% block meta_title %}{% endblock %} {{ settings.meta_title_suffix }}</title>

    <meta name="description" content="{% block meta_description %}{{ settings.meta_description }}{% endblock %}">
    <meta name="keywords" content="{{ settings.meta_keywords }}">
    <meta name="robots" content="{{ settings.meta_robots }}">
    <meta name="author" content="{{ settings.meta_author }}">
    <meta name="generator" content="FOSSBilling">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block opengraph %}{% endblock %}

    <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'build/css/vendor.rtl.css' | asset_url }}{% else %}{{ 'build/css/vendor.css' | asset_url }}{% endif %}" rel="stylesheet"/>
    <link href="{{ 'build/css/tide.css' | asset_url }}" rel="stylesheet"/>
    {% include 'custom/head.extra.twig' ignore missing %}

    <link rel="shortcut icon" href="{{ guest.system_company.favicon_url }}">

    {{ "Api/API.js" | library_url | script_tag }}
    <script src="{{ 'build/js/tide-bundle.js' | asset_url }}"></script>

    {% block head %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<script>
document.addEventListener("DOMContentLoaded", () => {
  const theme = localStorage.getItem('theme');
  const logo = document.getElementById('company-logo');

  if (theme === 'dark') {
    document.documentElement.setAttribute("data-bs-theme", "dark");
    if (logo) logo.src = logo.dataset.logoDark || logo.dataset.logoLight;
  } else {
    document.documentElement.setAttribute("data-bs-theme", "light");
    if (logo) logo.src = logo.dataset.logoLight || logo.dataset.logoDark;
  }
});
</script>

    {% block body %}{% endblock %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1070;"></div>
    </div>
    {{ include('partial_pending_messages.html.twig', ignore_missing: true) }}
</body>
</html>
