<!doctype html>
<html lang="{{ guest.system_locale|replace({'_': '-'}) }}"{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %} {{ 'dir="rtl"'| raw}}{% endif %}>
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <title>{% block meta_title %}{{ settings.meta_title }}{% endblock %}</title>
      <meta name="msapplication-TileColor" content=""/>
      <meta name="theme-color" content=""/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="mobile-web-app-capable" content="yes"/>
      <meta name="HandheldFriendly" content="True"/>
      <meta name="MobileOptimized" content="320"/>
      <link rel="icon" href="{{ guest.system_company.favicon_url }}" type="image/x-icon"/>
      <link rel="shortcut icon" href="{{ guest.system_company.favicon_url }}" type="image/x-icon"/>
      <meta name="description" content="{% block meta_description %}{{ settings.meta_description }}{% endblock %}"/>
      <meta property="bb:url" content="{{ constant('SYSTEM_URL') }}">
      <meta property="bb:client_area" content="{{ '/'|link }}">
      <meta name="csrf-token" content="{{ CSRFToken }}">
      <meta name="robots" content="{{ settings.meta_robots }}">
      <meta name="author" content="{{ settings.meta_author }}">
      <meta name="generator" content="FOSSBilling {{ guest.system_version }}">
      <meta name="canonical" content="{{ constant('SYSTEM_URL') }}">
      {% block opengraph %}{% endblock %}
      <!-- CSS files -->
      <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
      <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-flags.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-flags.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
      <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-payments.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-payments.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
      <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-vendors.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-vendors.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
	  <link href="{{ 'css/custom.css' | asset_url }}" rel="stylesheet"/>
      <script src="{{ "Api/API.js?v=#{guest.system_version}" | library_url }}"></script>
      <script src="{{ 'js/jquery-3.7.0.min.js' | asset_url }}"></script>
      <script src="{{ 'js/bb-jquery.js' | asset_url }}"></script>
      <style>
         @import url('https://rsms.me/inter/inter.css');
         :root {
         --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
         }
         body {
         font-feature-settings: "cv03", "cv04", "cv11";
         }
      </style>
      {% block head %}{% endblock %}
      {% block js %}{% endblock %}
   </head>
   <body>
      {% if guest.extension_is_on({ "mod": "cookieconsent" }) %}
      {% include 'mod_cookieconsent_index.html.twig' ignore missing%}
      {% endif %}
      {% block body %}
      <script>
         if (localStorage.getItem('theme') === 'dark') {
            document.body.setAttribute("data-bs-theme", localStorage.getItem('theme'));
         } else {
            document.body.removeAttribute("data-bs-theme");
         }
      </script>
      {% if not client and settings.require_login%}
      <script>
         $(function() {
             bb.redirect('{{ "login"|link }}');
         });
      </script>
      {% endif %}
      {% if client %}
      {% set profile = client.profile_get %}
      {% endif %}
      {% set company = guest.system_company %}
      <div class="page">
         <!-- Navbar -->
         <div class="sticky-top">
            {% if settings.announcement_bar_enabled %}
            <header class="navbar navbar-expand-md d-print-none bg-{% if settings.announcement_bar_color == 1 %}primary{% elseif settings.announcement_bar_color == 2 %}purple{% elseif settings.announcement_bar_color == 3 %}red{% elseif settings.announcement_bar_color == 4 %}orange{% elseif settings.announcement_bar_color == 5 %}yellow{% else %}green{% endif %} text-primary-fg border-bottom-0">
               <div class="container-xl ml-3">
                  <strong>{{ settings.announcement_bar_text }}</strong>
               </div>
            </header>
            {% endif %}
            <header class="navbar navbar-expand-md d-print-none{% if settings.announcement_bar_enabled %} border-top-0{% endif %}">
               <div class="container-xl">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
				  {% if settings.show_company_logo %}
                  <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                     <a href="{{'/'|link }}">
                     <img src="{{company.logo_url}}" alt="{{company.name}}" class="navbar-brand-image">
                     </a>
                  </h1>
				  {% endif %}
				  {% if settings.show_company_name %}
				  <p class="mt-3 text-info">{{company.name}}</p>
				  {% endif %}				  
                  <div class="navbar-nav flex-row order-md-last">
                     <div class="nav-item d-none d-md-flex me-3">
                        <div class="btn-list">
                           {% set languages = guest.extension_languages(true) %}
                           {% if languages|length > 1 %}
                           {% set currentLang = guest.system_locale %}
                           {% set countryCode = currentLang | slice(3, 2) %}
                           <div class="dropdown">
                              <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown"><span class="flag flag-country-{{ countryCode | lower }}"></span>&nbsp;{% for lang in languages %}
                              {% if lang.locale == currentLang %}
                              {{ lang.title }}
                              {% endif %}
                              {% endfor %}</a>
                              <div class="dropdown-menu">
                                 {% for lang in languages %}
                                 {% set countryCode = lang.locale | slice(3, 2) %}
                                 {% if lang != currentLang %}
                                 <a href="javascript:;" class="dropdown-item language_selector" data-language-code="{{ lang.locale }}"><span class="flag flag-country-{{ countryCode | lower }}"></span>&nbsp;{{ lang.title }}</a>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                           </div>
                           {% endif %}
                           {% if not client %}
                           <a href="{{ 'login'|link }}" class="btn btn-secondary">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                 <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                              </svg>
                              {{ 'Login'|trans }}
                           </a>
                           <a href="{{ 'signup'|link }}" class="btn btn-primary">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                 <path d="M16 19h6"></path>
                                 <path d="M19 16v6"></path>
                                 <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                              </svg>
                              {{ 'Register'|trans }}
                           </a>
                           {% endif %}
                        </div>
                     </div>
                     <div class="d-none d-md-flex me-3">
                        <a href="?theme=dark" class="nav-link px-0 hide-theme-dark js-theme-toggler" title="Enable dark mode" data-bs-toggle="tooltip"
                        data-bs-placement="bottom">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                           <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
                           </svg>
                        </a>
                        <a href="?theme=light" class="nav-link px-0 hide-theme-light js-theme-toggler" title="Enable light mode" data-bs-toggle="tooltip"
                        data-bs-placement="bottom">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                           <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                           <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
                           </svg>
                        </a>
                     </div>
                     {% if client %}
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                           <span class="avatar avatar-sm" style="background-image: url({{ profile.email|gravatar(60) }})"></span>
                           <div class="d-none d-xl-block ps-2">
                              <div>Welcome, {{profile.first_name}}</div>
                              <div class="mt-1 small text-muted">Balance: {{ profile.balance | money(profile.currency) }}</div>
                           </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <a href="{{ 'client/profile' | link}}" class="dropdown-item">{{ 'Profile'|trans }}</a>
                           <a href="{{ '/email'|link }}" class="dropdown-item">{{ 'Emails'|trans }}</a>
                           <a href="{{ 'client/logout' | link}}" class="dropdown-item">{{ 'Sign out'|trans }}</a>
                        </div>
                     </div>
                     {% endif %}
                  </div>
               </div>
            </header>
            <header class="navbar-expand-md d-print-none">
               <div class="collapse navbar-collapse" id="navbar-menu">
                  <div class="navbar">
                     <div class="container-xl">
                        <ul class="navbar-nav">
						   {% if settings.main_menu_home %}
                           {% if client %}
                           <li class="nav-item{% if request._url == '' %} active{% endif %}">
                              <a class="nav-link" href="{{ '/'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                       <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                                       <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                       <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Dashboard'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% else %}
                           <li class="nav-item{% if request._url == '' %} active{% endif %}">
                              <a class="nav-link" href="{{ '/'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                       <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                                       <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                       <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Home'|trans }}
                                 </span>
                              </a>
                           </li>
						   {% endif %}
                           {% endif %}
						   {% if settings.main_menu_order %}
                           <li class="nav-item{% if request._url == '/order' %} active{% endif %}">
                              <a class="nav-link" href="{{ '/order'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                       <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                       <path d="M17 17h-11v-14h-2"></path>
                                       <path d="M6 5l14 1l-1 7h-13"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Order'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% endif %}
                           {% if client %}
						   {% if settings.main_menu_services %}
                           <li class="nav-item{% if request._url == '/order/service' %} active{% endif %}">
                              <a class="nav-link" href="{{ '/order/service'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path>
                                       <path d="M3 12m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path>
                                       <path d="M7 8l0 .01"></path>
                                       <path d="M7 16l0 .01"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Services'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% endif %}
						   {% if settings.main_menu_invoices %}
                           <li class="nav-item{% if request._url == '/invoice' %} active{% endif %}">
                              <a class="nav-link" href="{{ '/invoice'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                       <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                       <path d="M9 7l1 0"></path>
                                       <path d="M9 13l6 0"></path>
                                       <path d="M13 17l2 0"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Invoices'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% endif %}
						   {% if settings.main_menu_payments %}
                           <li class="nav-item{% if request._url == '/client/balance' %} active{% endif %}">
                              <a class="nav-link" href="{{ '/client/balance'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                       <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                                       <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"></path>
                                       <path d="M12 17v1m0 -8v1"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Payment history'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% endif %}
						   {% if settings.main_menu_support %}
                           <li class="nav-item dropdown{% if request._url == '/support' %} active{% endif %}">
                              <a class="nav-link dropdown-toggle" href="#support" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                       <path d="M12 17l0 .01"></path>
                                       <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Support'|trans }}
                                 </span>
                              </a>
                              <div class="dropdown-menu">
                                 {% if settings.main_menu_tickets %}
                                 <a class="dropdown-item" href="{{ '/support'|link }}">
                                 {{ 'Support'|trans }}
                                 </a>
                                 {% endif %}
                                 {% if (guest.extension_is_on({"mod":"news"}) and settings.main_menu_news) %}
                                 <a class="dropdown-item" href="{{ '/news'|link }}">
                                 {{ 'Announcements'|trans }}
                                 </a>
                                 {% endif %}
                                 {% if (guest.support_kb_enabled() and settings.main_menu_kb) %}
                                 <a class="dropdown-item" href="{{ 'support/kb'|link }}">
                                 {{ 'Knowledge base'|trans }}
                                 </a>
                                 {% endif %}
                              </div>
                           </li>
                           {% endif %}
                           {% endif %}
                           {% if not client %}
						   {% if settings.main_menu_support %}
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                       <path d="M12 17l0 .01"></path>
                                       <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Support'|trans }}
                                 </span>
                              </a>
                              <div class="dropdown-menu">
                                 {% if (guest.extension_is_on({"mod":"news"}) and settings.main_menu_news) %}
                                 <a class="dropdown-item" href="{{ '/news'|link }}">
                                 {{ 'Announcements'|trans }}
                                 </a>
                                 {% endif %}
                                 {% if (guest.support_kb_enabled() and settings.main_menu_kb) %}
                                 <a class="dropdown-item" href="{{ 'support/kb'|link }}">
                                 {{ 'Knowledge base'|trans }}
                                 </a>
                                 {% endif %}
                                 <a class="dropdown-item" href="{{ '/support/contact-us'|link }}">
                                 {{ 'Contact us'|trans }}
                                 </a>
                              </div>
                           </li>
                           {% endif %}
						   {% if settings.main_menu_login %}
                           <li class="nav-item">
                              <a class="nav-link" href="{{ 'login'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                       <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Login'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% endif %}
						   {% if settings.main_menu_register %}
                           <li class="nav-item">
                              <a class="nav-link" href="{{ 'signup'|link }}">
                                 <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                       <path d="M16 19h6"></path>
                                       <path d="M19 16v6"></path>
                                       <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                                    </svg>
                                 </span>
                                 <span class="nav-link-title">
                                 {{ 'Register'|trans }}
                                 </span>
                              </a>
                           </li>
                           {% endif %}
                           {% endif %}
                        </ul>
                     </div>
                  </div>
               </div>
            </header>
         </div>
         <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
               <div class="container-xl">
                  <div class="row g-2 align-items-center mw-100">
                     <div class="col">
                        {% if settings.show_breadcrumb %}
                        {% block breadcrumbs %}
                        <div class="mb-1">
                           <ol class="breadcrumb" aria-label="breadcrumbs">
                              <li class="breadcrumb-item"><a href="{{ '/'|link }}">{{ 'Home'|trans }}</a></li>
                              {% block breadcrumb %}
                              <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ 'Dashboard'|trans }}</a></li>
                              {% endblock %}
                           </ol>
                        </div>
                        {% endblock %}
                        {% endif %}
                        <h2 class="page-title">
                           <span class="text-truncate">{% block page_header %}{% endblock %}</span>
                        </h2>
                        <div class="text-muted mt-1">{% block page_subheader %}{% endblock %}</div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Page body -->
            <div class="page-body">
               <div class="container-xl">
                  {% block content_before %}{% endblock %}
                  {% block content %}{% endblock %}
                  <div class="row row-deck row-cards">
                     {% include "partial_message.html.twig" %}
                     {% if not client %}
                     {% if request._url is empty %}
                     <div class="col-md-4">
                        <div class="card card-lg bg-red text-red-fg d-print-none">
                           <div class="card-stamp">
                              <div class="card-stamp-icon bg-white text-red">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M17 17h-11v-14h-2"></path>
                                    <path d="M6 5l14 1l-1 7h-13"></path>
                                 </svg>
                              </div>
                           </div>
                           <div class="card-body">
                              <h2>{{ 'Order'|trans }}</h2>
                              <p>{{ 'Products and services'|trans }}</p>
                              <div class="row">
                                 <div class="mt-2">
                                    <a href="{{ '/order'|link }}" class="btn btn-outline-light w-100">
                                    {{ 'Order'|trans }}
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="card card-lg bg-azure text-azure-fg d-print-none">
                           <div class="card-stamp">
                              <div class="card-stamp-icon bg-white text-azure">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                 </svg>
                              </div>
                           </div>
                           <div class="card-body">
                              <h2>{{ 'Profile'|trans }}</h2>
                              <p>{{ 'You are logged out'|trans }}</p>
                              <div class="row">
                                 <div class="col-md-6 mt-2">
                                    <a href="{{ '/login'|link }}" class="btn btn-outline-light w-100">
                                    {{ 'Login'|trans }}
                                    </a>
                                 </div>
                                 <div class="col-md-6 mt-2">
                                    <a href="{{ '/signup'|link }}" class="btn btn-outline-light w-100">
                                    {{ 'Register'|trans }}
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="card card-lg bg-green text-green-fg d-print-none">
                           <div class="card-stamp">
                              <div class="card-stamp-icon bg-white text-green">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"></path>
                                    <path d="M8 8l4 0"></path>
                                    <path d="M8 12l4 0"></path>
                                    <path d="M8 16l4 0"></path>
                                 </svg>
                              </div>
                           </div>
                           <div class="card-body">
                              <h2 >{{ 'News'|trans }}</h2>
                              <p>{{ 'Latest news and announcements' | trans }}</p>
                              <div class="row">
                                 <div class="mt-2">
                                    <a href="{{ '/news'|link }}" class="btn btn-outline-light w-100">
                                    {{ 'Announcements'|trans }}
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endif %}
                     {% endif %}
                     {% block content_after %}{% endblock %}
                  </div>
               </div>
            </div>
            <div id="push"></div>
            {% if settings.footer_enabled %}
            <footer class="footer footer-transparent d-print-none">
               <div class="container-xl">
                  <div class="row text-center align-items-center flex-row-reverse">
                     {% set linksAvailable = false %}
                     {% for i in 1..4 %}
                     {% if attribute(settings, 'footer_link_' ~ i ~ '_enabled') %}
                     {% set linksAvailable = true %}
                     {% endif %}
                     {% endfor %}
                     {% if linksAvailable %}
                     <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                           {% if settings.footer_link_1_enabled %}
                           {% if 'http://' in settings.footer_link_1_page or  'https://' in settings.footer_link_1_page%}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_1_page }}" class="link-secondary">{{ settings.footer_link_1_title }}</a></li>
                           {% else %}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_1_page | link }}" class="link-secondary">{{ settings.footer_link_1_title }}</a></li>
                           {% endif %}
                           {% endif %}	  
                           {% if settings.footer_link_2_enabled %}
                           {% if 'http://' in settings.footer_link_2_page or  'https://' in settings.footer_link_2_page%}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_2_page }}" class="link-secondary">{{ settings.footer_link_2_title }}</a></li>
                           {% else %}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_2_page | link }}" class="link-secondary">{{ settings.footer_link_2_title }}</a></li>
                           {% endif %}
                           {% endif %}	
                           {% if settings.footer_link_3_enabled %}
                           {% if 'http://' in settings.footer_link_3_page or  'https://' in settings.footer_link_3_page%}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_3_page }}" class="link-secondary">{{ settings.footer_link_3_title }}</a></li>
                           {% else %}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_3_page | link }}" class="link-secondary">{{ settings.footer_link_3_title }}</a></li>
                           {% endif %}
                           {% endif %}	
                           {% if settings.footer_link_4_enabled %}
                           {% if 'http://' in settings.footer_link_4_page or  'https://' in settings.footer_link_4_page%}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_4_page }}" class="link-secondary">{{ settings.footer_link_4_title }}</a></li>
                           {% else %}
                           <li class="list-inline-item"><a href="{{ settings.footer_link_4_page | link }}" class="link-secondary">{{ settings.footer_link_4_title }}</a></li>
                           {% endif %}
                           {% endif %}	
                        </ul>
                     </div>
                     {% endif %}	
                     <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                           <li class="list-inline-item">
                              &copy; {{ now|format_date(pattern='yyyy') }} {{ settings.footer_signature | default(company.signature) }}
                           </li>
                           {% if guest.extension_is_on({"mod":'branding'}) %}
                           <li class="list-inline-item">
                              <a href="https://fossbilling.org" title="Billing Software" target="_blank">{{ 'Powered by the FOSSBilling Community'|trans }}</a>
                           </li>
                           {% endif %}
                        </ul>
                     </div>
                  </div>
               </div>
            </footer>
            {% endif %}
         </div>
      </div>
      <div class="wait" style="display:none" onclick="$(this).hide();">
         <div class="popup_block" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.5; -webkit-opacity: 0.5; -moz-opacity: 0.5; filter :  alpha(opacity=50); z-index: 2000">
            <img alt="loading gif" src="{{ 'img/loader.gif'|asset_url}}" style="position: absolute; display: block; margin-left: auto; margin-right: auto; position: relative; top: 50%; opacity: 1; filter: alpha(opacity=100); z-index: 1003">
         </div>
      </div>
      <noscript>NOTE: Many features on FOSSBilling require Javascript and cookies. You can enable both via your browser's preference settings.</noscript>
      {% endblock %}
      {% if settings.inject_javascript %}
      {{ settings.inject_javascript | raw}}
      {% endif %}
      {% include 'partial_pending_messages.html.twig' ignore missing %}
      {% block footerjs %}{% endblock %}
      <script src="{{ 'js/tabler.min.js' | asset_url }}" defer></script>
   </body>
</html>
