<!DOCTYPE html>
<html class="no-js" lang="{{ guest.system_locale|replace({'_': '-'}) }}"{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %} {{ 'dir="rtl"'| raw}}{% endif %} data-bs-theme="{{ settings.theme|default('light') }}">
<head>
    <meta charset="utf-8">
    <title>{{ settings.meta_title_prefix }} {% block meta_title %}{% endblock %} {{ settings.meta_title_suffix }}</title>

    <meta property="bb:url" content="{{ constant('SYSTEM_URL') }}">
    <meta property="bb:client_area" content="{{ '/'|link }}">
    <meta name="csrf-token" content="{{ CSRFToken }}">

    <meta name="description" content="{% block meta_description %}{{ settings.meta_description }}{% endblock %}">
    <meta name="keywords" content="{{ settings.meta_keywords }}">
    <meta name="robots" content="{{ settings.meta_robots }}">
    <meta name="author" content="{{ settings.meta_author }}">
    <meta name="generator" content="FOSSBilling">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block opengraph %}{% endblock %}

    <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
    <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-flags.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-flags.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
    <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-payments.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-payments.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
    <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-themes.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-themes.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
    <link href="{% if guest.system_locale in ['ar_EG', 'ar_SA', 'he_IL'] %}{{ 'css/tabler-vendors.rtl.min.css' | asset_url }}{% else %}{{ 'css/tabler-vendors.min.css' | asset_url }}{% endif %}" rel="stylesheet"/>
    <link href="{{ 'css/inter.css' | asset_url }}" rel="stylesheet"/>
    <link href="{{ 'css/extra.css' | asset_url }}" rel="stylesheet"/>
    <style>
       :root {
          --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
       }
       body {
          font-feature-settings: "cv03", "cv04", "cv11";
       }
      .responsive-logo {
          height: 32px;
          width: auto;
      }
      @media (max-width: 576px) {
        .responsive-logo {
            height: 24px;
        }
      }
    </style>

    <link rel="shortcut icon" href="{{ guest.system_company.favicon_url }}">

    {{ "Api/API.js" | library_url | script_tag }}
    <script src="{{ 'js/atrix.js' | asset_url }}"></script>

    {% block head %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<script>
document.addEventListener("DOMContentLoaded", () => {
  const theme = localStorage.getItem('theme');
  const logo = document.getElementById('company-logo');

  if (theme === 'dark') {
    document.documentElement.setAttribute("data-bs-theme", "dark");
    if (logo) logo.src = logo.dataset.logoDark || logo.dataset.logoLight;
  } else {
    document.documentElement.setAttribute("data-bs-theme", "light");
    if (logo) logo.src = logo.dataset.logoLight || logo.dataset.logoDark;
  }
});
</script>

    {% block body %}{% endblock %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1070;"></div>
    </div>
    {{ include('partial_pending_messages.html.twig', ignore_missing: true) }}
</body>
</html>
