{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}
{% block meta_title %}{{ 'Emails'|trans }}{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page"><a href="#">{{ 'Emails'|trans }}</a></li>{% endblock %}
{% block page_header %}{{ 'Emails'|trans }}{% endblock %}
{% block page_subheader %}{{ 'Here you can find all the emails we sent you. Please click on email topic in left column and it will be displayed in right side.'|trans }}{% endblock %}
{% set emails = client.email_get_list({"per_page":10, "page":request.page}) %}
{% block body_class %}email-index{% endblock %}
{% block content %}
<div class="row row-deck row-cards">
   <div class="col-md-12">
      <div class="card">
         <div class="card-header">
            <h3 class="card-title">{{ 'Emails'|trans }}</h3>
         </div>
         <div class="card-body">
            {% if emails.list is empty  %}
            <div class="alert alert-info" role="alert">
               <h4 class="alert-title" id="information-block">{{ 'There are no emails to display'|trans }}</h4>
            </div>
            {% else %}
            <div class="card">
               <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                     {% for i, email in emails.list %}
                     <li class="nav-item">
                        <a href="#tab{{email.id}}" class="nav-link {% if loop.first%}active{% endif %}" data-bs-toggle="tab">Home</a>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
               <div class="card-body">
                  <div class="tab-content">
                     {% for i, email in emails.list %}
                     <div class="tab-pane {% if loop.first%}active show{% endif %}" id="tab{{email.id}}">
                        <pre>
                                <p><strong>{{ 'From:'|trans }}</strong> {{email.sender}}</p>
                                <p><strong>{{ 'To:'|trans }}</strong> {{email.recipients}}</p>
                                <p><strong>{{ 'Created at:'|trans }}</strong> {{ email.created_at|format_date }}</p>
                            </pre>
                        <pre>
                                <h3>{{ email.subject }}</h3>
                                <p> {{email.content_html | raw}}</p>
                            </pre>
                        <a class="btn btn-inverse email-resend" href="#" mail-id="{{email.id}}">{{ 'Resend'|trans }}</a>
                        <a class="btn btn-danger email-delete" href="#"  mail-id="{{email.id}}">{{ 'Delete'|trans }}</a>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
            {% include "partial_pagination.html.twig" with {'list': emails} %}
            {% endif %}		
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block js %}
{% autoescape "js" %}
<script type="text/javascript">
   $(function() {
       $('.email-resend').on('click', function(e){
           e.preventDefault();
           $('.wait').show();
           var email_id = $(this).attr('mail-id');
           bb.post(
               'client/email/resend',
               {id: email_id, CSRFToken: "{{ CSRFToken }}" },
               function(result) {
                   $('.wait').hide();
                   bb.msg('Email resent');
                   return false;
               }
           );
       });
       $('.email-delete').on('click', function(e){
           e.preventDefault();
           if (confirm('Are you sure?')){
               $('.wait').show();
               var email_id = $(this).attr('mail-id');
               bb.post(
                   'client/email/delete',
                   {id: email_id, CSRFToken: "{{ CSRFToken }}" },
                   function(result) {
                       bb.msg('Email deleted');
                       bb.redirect('{{ 'email'|link }}');
                       return false;
                   }
               );
           };
       });
   
   });
</script>
{% endautoescape %}
{% endblock %}