{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ ticket.subject }}{% endblock %}

{% block body_class %}support-contact-us-conversation{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ 'support/contact-us' | link}}">{{ 'Contact us'|trans }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ ticket.subject }}</li>
{% endblock %}

{% block head %}
    {{ mf.wysiwyg('.editor-textarea') }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="card ms-0 ms-md-3 w-100">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h3 class="card-title">{{ 'Ticket information'|trans }}</h3>
                <div class="ms-auto">
                    <a class="btn btn-info btn-sm" href="#reply-to">{{ 'Reply'|trans }}</a>
                    <button class="btn btn-secondary btn-sm" href="{{ 'api/guest/support/ticket_close'|link({ 'hash': ticket.hash, 'CSRFToken': CSRFToken })}}" id="new-ticket-button" data-api-reload="1"> {{ 'Close ticket'|trans }}</button>
                </div>
            </div>
        </div>    
        <div class="card-body">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="datagrid-title">{{ 'Subject'|trans }}</div>
                <div class="datagrid-content"><strong>{{ ticket.subject }}</strong></div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">{{ 'Author'|trans }}</div>
                <div class="datagrid-content">{{ ticket.author.name }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">{{ 'Email'|trans }}</div>
                <div class="datagrid-content">{{ ticket.author.email }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">{{ 'Status'|trans }}</div>
                <div class="datagrid-content"><div class="badge {% if ticket.status=='open' %}bg-success text-success-fg{% elseif ticket.status == 'on_hold' %}bg-warning text-warning-fg{% endif %}">{{ mf.status_name(ticket.status) }}</div></div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">{{ 'Time opened'|trans }}</div>
                <div class="datagrid-content">{{ ticket.created_at|format_date }}</div>
              </div>
            </div>
            <hr />
            {% for i, message in ticket.messages %}
                <div class="row">
                    <div class="col-2">
                        <span class="text-muted">
                            {{ message.author.name }}
                        </span>
                        <br/>
                        <img src="{{ message.author.email|gravatar(60) }}" alt="{{ message.author.name }}" class="img-fluid img-thumbnail d-none d-md-block">
                    </div>
                    <div class="col-10">
                        <header>#{{ i+1 }} | {{ message.created_at|format_date }}
                            {% if ticket.status != 'closed' %}
                            <div class="float-end">
                                <a href="#" class="btn btn-dark reply-to-message" message-quote="{{ mf.markdown_quote(message.content) }}">{{ 'Reply'|trans }}</a>
                            </div>
                            {% endif %}
                        </header>
                        <section>
                            <div class="well" id="message-{{message.id}}">{{ message.content|markdown }}</div>
                        </section>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="card-footer" id="reply-to">
            {% if ticket.status != 'closed' %}
                <form method="post" action="" class="api_form" data-api-url="guest/support/ticket_reply" data-api-reload="1">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <input type="hidden" name="hash" value="{{ ticket.hash }}" />
                    
                    <textarea name="message" cols="5" rows="10" class="editor-textarea form-control" required="required" id="ticket-reply-text"></textarea>
                    <button class="btn btn-primary btn-large mt-1" type="submit" id="submit-support-message" value="{{ 'Post'|trans }}" onclick="">{{ 'Post'|trans }}</button>
                </form>
            {% elseif ticket.status == 'closed' %}
                <div class="alert alert-white text-center">{{ 'Ticket was closed and cannot be reopened.'|trans }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.reply-to-message').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                const replyTextarea = document.getElementById('ticket-reply-text');

                if (replyTextarea) {
                    replyTextarea.value = this.getAttribute('message-quote');
                    replyTextarea.focus();
                }
            });
        });

        document.getElementById('new-ticket-button').addEventListener('click', function(event) {
            event.preventDefault();

            API.guest.post("support/ticket_close", { hash: '{{ ticket.hash }}' },
                () => {
                    FOSSBilling.message("Ticket was closed");
                    window.location.reload();
                });
        });
    });
</script>
{% endblock %}