  
{% set cart = guest.cart_get%}



 
{% if client %}
<div class="row row-deck row-cards mb-3">
   <div class="col-md-12">
      <div class="card">
         <div class="card-header">
            <h3 class="card-title">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                  <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                  <path d="M17 17h-11v-14h-2"></path>
                  <path d="M6 5l14 1l-1 7h-13"></path>
               </svg>
               &nbsp;{{ 'Cart'|trans }}&nbsp;<span class="status status-green">{{ cart.items | length }}</span>
            </h3>          
              {% include 'mod_orderbutton_currency.html.twig' %}
         </div>
         <div class="card-body">
            {% if cart.items %}
            <div id="checkout">
               <div class="table-responsive">
                  <table class="table table-striped table-bordered table-condensed">
                     <thead>
                        <tr>
                           <th>{{ 'Product'|trans }}</th>
                           <th>{{ 'Price'|trans }}</th>
                           <th style="width: 3%; text-align: center"></th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i, item in cart.items %}
                        <tr>
                           <td>
                              {{ item.title }}
                              {% if item.quantity > 1 %}
                              x {{ item.quantity }}
                              {% endif %}
                              {% if item.period %}
                              ({{ item.period | period_title }})
                              {% endif %}
                           </td>
                           <td>
                              {% if item.discount_price %}
                              <del>{{ item.total | money_convert }}</del>
                              <strong class="text-success">{{ (item.total-item.discount_price) | money_convert }}</strong>
                              {% else %}
                              {{ (item.total) | money_convert }}
                              {% endif %}
                           </td>
                           <td>
                              <button data-cart-item-id="{{ item.id }}" class="btn btn-warning btn-icon remove-cart-item" title="{{ 'Remove item'|trans }}">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                                    <path d="M10 10l4 4m0 -4l-4 4"></path>
                                 </svg>
                              </button>
                           </td>
                        </tr>
                        {% if request.show_custom_form_values %}
                        <tr>
                           <td>
                              {% if item.form_id and guest.extension_is_on({"mod":"formbuilder"}) %}
                              {% set form = guest.formbuilder_get({"id": item.form_id}) %}
                              {# debug form #}
                              <div class="well">
                                 <dl class="dl-horizontal">
                                    {% for field, value in item %}
                                    {% for form_field in form.fields %}
                                    {% if value is not empty %}
                                    {% if form_field.name == field%}
                                    <dt>
                                       {{form_field.label}}
                                    </dt>
                                    <dd>
                                       {% if form_field.type == "checkbox"%}
                                       {% for selection in value %}
                                       {% for field_key,field_value in form_field.options%}
                                       {% if field_value == selection %}
                                       {{ field_key }}
                                       {% endif %}
                                       {% endfor %}
                                       {% endfor%}
                                       {% elseif form_field.type == "select" or form_field.type == "radio" %}
                                       {% for field_key,field_value in form_field.options%}
                                       {% if field_value == value %}
                                       {{ field_key }}
                                       {% endif %}
                                       {% endfor %}
                                       {% else %}
                                       {{value}}
                                       {% endif %}
                                    </dd>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                 </dl>
                              </div>
                              {% endif %}
                           </td>
                           <td></td>
                        </tr>
                        {% endif %}
                        {% if item.setup_price != 0 %}
                        <tr>
                           <td>{{ item.title }} {{ 'setup'|trans }}</td>
                           <td>
                              {% if item.discount_setup %}
                              <del>{{ item.setup_price | money_convert }}</del>
                              {{ (item.setup_price - item.discount_setup) | money_convert }}
                              {% else %}
                              {{ item.setup_price | money_convert }}
                           </td>
                           {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               {% if not cart.promocode %}
               <div class="mb-3 mt-3">
                  <a href="#" id="show-promo-field">{{ 'Have coupon code?'|trans }}</a>
               </div>
               {% endif %}
               <form action="guest/cart/apply_promo" method="post" class="well" id="apply-promo" data-api-reload="1" {% if not cart.promocode %}style="display:none"{% endif %}>
               <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
               <div class="mb-3">
                  <div class="row g-2">
                     <div class="col">
                        <input class="form-control" type="text" name="promocode" id="promocode" value="{{ request.promocode|default(cart.promocode) }}" {% if promo.required %}required="required"{% endif %} placeholder="{{ 'Enter code'|trans }}">
                     </div>
                     <div class="col-auto">
                        {% if cart.promocode %}
                        <button class="btn btn-secondary" id="remove-promo" href="{{ 'api/guest/cart/remove_promo'|link({ 'CSRFToken': CSRFToken }) }}" type="button" data-api-reload="1">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M12 8h8a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4m-4 0h-8a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h4"></path>
                              <path d="M12 12v9"></path>
                              <path d="M19 12v3m0 4a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7"></path>
                              <path d="M7.5 8a2.5 2.5 0 0 1 -2.457 -2.963m2.023 -2c.14 -.023 .286 -.037 .434 -.037c1.974 -.034 3.76 1.95 4.5 5c.74 -3.05 2.526 -5.034 4.5 -5a2.5 2.5 0 1 1 0 5"></path>
                              <path d="M3 3l18 18"></path>
                           </svg>
                           {{ 'Remove'|trans }}
                        </button>
                        {% else %}
                        <button class="btn btn-secondary" type="submit">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M3 8m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z"></path>
                              <path d="M12 8l0 13"></path>
                              <path d="M19 12v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7"></path>
                              <path d="M7.5 8a2.5 2.5 0 0 1 0 -5a4.8 8 0 0 1 4.5 5a4.8 8 0 0 1 4.5 -5a2.5 2.5 0 0 1 0 5"></path>
                           </svg>
                           {{ 'Apply'|trans }}
                        </button>
                        {% endif %}
                     </div>
                  </div>
               </div>
               {#
               <input type="text" class="form-control" name="promocode" value="{{ request.promocode|default(cart.promocode) }}" {% if promo.required %}required="required"{% endif %} placeholder="{{ 'Enter code'|trans }}">
               {% if cart.promocode %}
               <a href="{{ 'api/guest/cart/remove_promo'|link({ 'CSRFToken': CSRFToken }) }}" class="btn btn-info api-link" data-api-reload="1" >
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                     <path d="M12 8h8a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4m-4 0h-8a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h4"></path>
                     <path d="M12 12v9"></path>
                     <path d="M19 12v3m0 4a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7"></path>
                     <path d="M7.5 8a2.5 2.5 0 0 1 -2.457 -2.963m2.023 -2c.14 -.023 .286 -.037 .434 -.037c1.974 -.034 3.76 1.95 4.5 5c.74 -3.05 2.526 -5.034 4.5 -5a2.5 2.5 0 1 1 0 5"></path>
                     <path d="M3 3l18 18"></path>
                  </svg>
                  {{ 'Remove '|trans }}(<strong>{{cart.promocode}}</strong>)
               </a>
               {% else %}
               <button class="btn btn-info" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                     <path d="M3 8m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z"></path>
                     <path d="M12 8l0 13"></path>
                     <path d="M19 12v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7"></path>
                     <path d="M7.5 8a2.5 2.5 0 0 1 0 -5a4.8 8 0 0 1 4.5 5a4.8 8 0 0 1 4.5 -5a2.5 2.5 0 0 1 0 5"></path>
                  </svg>
                  {{ 'Apply'|trans }}
               </button>
               {% endif %}
               #}
               </form>
               <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                     {% if cart.discount >0 %}
                     <tr>
                        <td><strong>{{ 'Subtotal:'|trans }}</strong></td>
                        <td><strong>{{ (cart.subtotal)| money_convert }}</strong></td>
                     </tr>
                     <tr>
                        <td><strong>{{ 'Discount:'|trans }}</strong></td>
                        <td><strong>- {{ cart.discount | money_convert }}</strong></td>
                     </tr>
                     {% endif %}
                     {% set tax_amount = 0 %}
                     {% if client.client_is_taxable %}
                     {% set tax_rate = client.invoice_get_tax_rate %}
                     {% set tax_amount = cart.total * tax_rate / 100 %}
                     <tr>
                        <td><strong>{{ 'VAT'|trans }} ({{ tax_rate }}%) :</strong></td>
                        <td><strong>{{ tax_amount | money_convert }}</strong></td>
                     </tr>
                     {% endif %}
                     <tr>
                        <td><strong>{{ 'Total:'|trans }}</strong></td>
                        <td><strong>{{ (cart.total + tax_amount) | money_convert }}</strong></td>
                     </tr>
                  </table>
               </div>
               <form method="post" action="client/cart/checkout" class="form-horizontal" id="checkout-form" onsubmit="return false;">
                  <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                  <fieldset class="form-fieldset mt-3">
                     {% set enough_in_balance = client.client_balance_get_total >= cart.total %}
                     {% if cart.total and not enough_in_balance %}
                     <div class="mb-3">
                        <div class="form-label">Payment Options</div>
                        <div>
                           {% for gtw in guest.invoice_gateways %}
                           {% if cart.currency.code in gtw.accepted_currencies %}
                           <label class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" 
                           name="gateway_id" id={{gtw.id}} value="{{gtw.id}}" {{ loop.first ? 'checked' : '' }}>
                           <span class="form-check-label">{{ 'Pay by'|trans }} {{ gtw.title }}</span>
                           </label>
                           {% endif %}
                           {% endfor %}
                        </div>
                     </div>
                     {% endif %}
                     <div class="mb-3">
                        {% if enough_in_balance %}
                        <p>{{ 'Total amount will be deducted from account balance'|trans }}</p>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                              <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                              <path d="M17 17h-11v-14h-2"></path>
                              <path d="M6 5l14 1l-1 7h-13"></path>
                           </svg>
                           {{ 'Checkout'|trans }}
                        </button>
                     </div>
                  </fieldset>
               </form>
            </div>
            <div id="payment-html">
               <div id="payment-html-inner"></div>
            </div>
            {% else %}
            <p>Your Shopping Cart is Empty!</p>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% else %} 
   <h2>{{ 'Login or register to continue'|trans}}</h2>
{% endif %}



<script type="text/javascript">
   $('#remove-promo').on('click', function(e) {
       e.preventDefault();
       bb.post("guest/cart/remove_promo", {CSRFToken: "{{ CSRFToken }}"}, function(r) {
               bb.msg("{{ 'Promo code was removed'|trans }}");
               location.reload(false);
       });
   });
   
   $('.remove-cart-item').on('click', function(e) {
       e.preventDefault();
   
       var btn = $(this);
   
       if (confirm("{{ 'Are you sure you want to remove this item from cart?'|trans }}")) {
           var item_id = $(btn).attr('data-cart-item-id');
   
           bb.post("guest/cart/remove_item", { id: item_id, CSRFToken: "{{ CSRFToken }}" }, function(r) {
               bb.msg("{{ 'Item was removed from cart'|trans }}");
               location.reload(false);
           });
       }
   });
</script>