{% if order.status == 'active' or order.status == 'failed_renew' %}
<div class="row row-deck row-cards mt-1">
   <div class="col-md-12">
      <div class="card border border-bottom-0">
         <div class="card-header">
            <h3 class="card-title">{{ 'Domain management'|trans }}</h3>
         </div>
      </div>
   </div>
</div>
<div class="row row-deck row-cards">
   <div class="col-md-12">
      <div class="card border border-top-0">
         <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
               <li class="nav-item">
                  <a href="#tabs-details" class="nav-link active" data-bs-toggle="tab">{{ 'Details'|trans }}</a>
               </li>
               <li class="nav-item">
                  <a href="#tabs-protection" class="nav-link" data-bs-toggle="tab">{{ 'Protection'|trans }}</a>
               </li>
               <li class="nav-item">
                  <a href="#tabs-privacy" class="nav-link" data-bs-toggle="tab">{{ 'Privacy'|trans }}</a>
               </li>
               <li class="nav-item">
                  <a href="#tabs-nameservers" class="nav-link" data-bs-toggle="tab">{{ 'Nameservers'|trans }}</a>
               </li>
               <li class="nav-item">
                  <a href="#tabs-whois" class="nav-link" data-bs-toggle="tab">{{ 'Whois'|trans }}</a>
               </li>
               <li class="nav-item">
                  <a href="#tabs-transfer" class="nav-link" data-bs-toggle="tab">{{ 'Transfer'|trans }}</a>
               </li>
            </ul>
         </div>
         <div class="card-body">
            <div class="tab-content">
               <div class="tab-pane active show" id="tabs-details">
                  <h4>{{ 'Domain details'|trans }}</h4>
                  <div class="table-responsive">
                     <table class="table table-vcenter text-nowrap table-striped table-bordered">
                        <tbody>
                           <tr>
                              <td>{{ 'Domain'|trans }}</td>
                              <td><a target="_blank" href="http://{{ service.domain }}">{{ service.domain }}</a></td>
                           </tr>
                           <tr>
                              <td>{{ 'Registration date'|trans }}</td>
                              <td>{{ service.registered_at|date('Y-m-d H:i:s') }}</td>
                           </tr>
                           <tr>
                              <td>{{ 'Expires at'|trans }}</td>
                              <td>{{ service.expires_at|date('Y-m-d H:i:s') }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tabs-protection">
                  <div class="alert alert-info" role="alert">
                     <h4 class="alert-title">{{ 'Domain Protection'|trans }}</h4>
                     <div class="text-muted">{{ 'Domain locking is a security enhancement to prevent unauthorized transfers of your domain to another registrar or web host by "locking" your domain name servers.'|trans }}</div>
                  </div>
                  <div class="mb-3">
                     <button class="btn btn-primary" type="button" id="domain-unlock" {% if service.locked == 0 %}style="display:none;"{% endif %}>
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 11h2a2 2 0 0 1 2 2v2m0 4a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2h4"></path>
                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                        <path d="M8 11v-3m.719 -3.289a4 4 0 0 1 7.281 2.289v4"></path>
                        <path d="M3 3l18 18"></path>
                     </svg>
                     {{ 'Unlock'|trans }}</button>
                     <button class="btn btn-primary" type="button" id="domain-lock" {% if service.locked == 1 %}style="display:none;"{% endif %}>
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                        <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                     </svg>
                     {{ 'Lock'|trans }}</button>
                  </div>
               </div>
               <div class="tab-pane" id="tabs-privacy">
                  <div class="alert alert-info" role="alert">
                     <h4 class="alert-title">{{ 'Domain Privacy Settings'|trans }}</h4>
                     <div class="text-muted">{{ 'If you would like to hide domain contact information which is shown on WHOIS you can enable privacy protection. Once domain privacy protection is enabled no one will know who registered this service. And once you decide to disable privacy protection, information that is listed above on "Update Domain Contact Details" section will be seen on domain WHOIS again.'|trans }}</div>
                  </div>
                  <div class="mb-3">
                     <button class="btn btn-primary" type="button" id="domain-disable-pp" {% if service.privacy == 0 %}style="display:none;"{% endif %}>
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 11h8m4 0h6"></path>
                        <path d="M5 11v-4c0 -.571 .16 -1.105 .437 -1.56m2.563 -1.44h8a3 3 0 0 1 3 3v4"></path>
                        <path d="M7 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M14.88 14.877a3 3 0 1 0 4.239 4.247m.59 -3.414a3.012 3.012 0 0 0 -1.425 -1.422"></path>
                        <path d="M10 17h4"></path>
                        <path d="M3 3l18 18"></path>
                     </svg>
                     {{ 'Disable Privacy protection'|trans }}</button>
                     <button class="btn btn-primary" type="button" id="domain-enable-pp" {% if service.privacy == 1 %}style="display:none;"{% endif %}>
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 11h18"></path>
                        <path d="M5 11v-4a3 3 0 0 1 3 -3h8a3 3 0 0 1 3 3v4"></path>
                        <path d="M7 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                        <path d="M10 17h4"></path>
                     </svg>
                     {{ 'Enable Privacy protection'|trans }}</button>
                  </div>
               </div>
               <div class="tab-pane" id="tabs-nameservers">
                  <div class="alert alert-info" role="alert">
                     <h4 class="alert-title">{{ 'Update Nameservers'|trans }}</h4>
                     <div class="text-muted">{{ 'If you would like to host this domain with another company you can update nameservers.'|trans }}</div>
                  </div>
                  <form action="" method="post" id="update-nameservers" class="form-horizontal">
                     <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                     <input type="hidden" name="order_id" value="{{ order.id }}">
                     <fieldset class="form-fieldset">
                        <div class="mb-3">
                           <label class="form-label required">{{ 'Nameserver 1'|trans }}:</label>
                           <input type="text" class="form-control" name="ns1" value="{{ request.ns1|default(service.ns1) }}" required="required">
                        </div>
                        <div class="mb-3">
                           <label class="form-label required">{{ 'Nameserver 2'|trans }}:</label>
                           <input type="text" class="form-control" name="ns2" value="{{ request.ns2|default(service.ns2) }}" required="required">
                        </div>
                        <div class="mb-3">
                           <label class="form-label">{{ 'Nameserver 3'|trans }}:</label>
                           <input type="text" class="form-control" name="ns3" value="{{ request.ns3|default(service.ns3) }}">
                        </div>
                        <div class="mb-3">
                           <label class="form-label">{{ 'Nameserver 4'|trans }}:</label>
                           <input type="text" class="form-control" name="ns4" value="{{ request.ns4|default(service.ns4) }}">
                        </div>
                        <div class="mb-3">
                           <div>
                              <button type="submit" class="btn btn-primary" value="{{ 'Update'|trans }}">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                                 </svg>
                                 {{ 'Update'|trans }}
                              </button>
                           </div>
                        </div>
                     </fieldset>
                  </form>
               </div>
               <div class="tab-pane" id="tabs-whois">
                  <div class="alert alert-info" role="alert">
                     <h4 class="alert-title">{{ 'Update domain contact details'|trans }}</h4>
                     <div class="text-muted">{{ 'Domain contact details will be displayed once someone will check WHOIS output (which is public) of your service. This will update Technical, Billing and Admin contacts for this service. You can enable domain privacy protection if you want to hide your public WHOIS information.'|trans }}</div>
                  </div>
                  <form method="post" action="" id="update-contact" class="form-horizontal">
                     <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                     <input type="hidden" name="order_id" value="{{ order.id }}">
                     <div class="row">
                        <div class="col-md-6">
                           <fieldset class="form-fieldset">
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'First Name'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[first_name]" value="{{ request.first_name|default(service.contact.first_name) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Last Name'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[last_name]" value="{{ request.last_name|default(service.contact.last_name) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Email'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[email]" value="{{ request.email|default(service.contact.email) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label">{{ 'Company'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[company]" value="{{ request.company|default(service.contact.company) }}">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Address Line 1'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[address1]" value="{{ request.address1|default(service.contact.address1) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label">{{ 'Address Line 2'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[address2]" value="{{ request.address2|default(service.contact.address2) }}">
                              </div>
                           </fieldset>
                        </div>
                        <div class="col-md-6">
                           <fieldset class="form-fieldset">
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Country'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[country]" value="{{ request.country|default(service.contact.country) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'City'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[city]" value="{{ request.city|default(service.contact.city) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'State'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[state]" value="{{ request.state|default(service.contact.state) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Zip'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[postcode]" value="{{ request.postcode|default(service.contact.postcode) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Phone Country Code'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[phone_cc]" value="{{ request.phone_cc|default(service.contact.phone_cc) }}" required="required">
                              </div>
                              <div class="mb-3">
                                 <label class="form-label required">{{ 'Phone number'|trans }}:</label>
                                 <input type="text" class="form-control" name="contact[phone]" value="{{ request.phone|default(service.contact.phone) }}" required="required">
                              </div>
                           </fieldset>
                        </div>
                     </div>
                     <div class="mb-3">
                        <button type="submit" class="btn btn-primary" value="{{ 'Update'|trans }}">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                              <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                           </svg>
                           {{ 'Update'|trans }}
                        </button>
                     </div>
                  </form>
               </div>
               <div class="tab-pane" id="tabs-transfer">
                  <div class="alert alert-info" role="alert">
                     <h4 class="alert-title">{{ 'Domain Secret'|trans }}</h4>
                     <div class="text-muted">{{ 'All domain names (except a .EU, .UK domain name) have a Domain (Transfer) Secret Key/Authorization Code (EPP Code) associated with them. This would be required if you want to transfer service.'|trans }}</div>
                  </div>
                  <div class="mb-3">
                     <button class="btn btn-primary" type="button" id="get-epp">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M4 19v2h16v-14l-8 -4l-8 4v2"></path>
                           <path d="M13 14h-9"></path>
                           <path d="M7 11l-3 3l3 3"></path>
                        </svg>
                        {{ 'Get EPP code'|trans }}
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% block js %}
<script>
   $(function() {
       $('.domain-tabs a').on('click', function(e) {
           e.preventDefault();
   
           $(this).tab('show');
       });
   
       $('#domain-lock').on('click', function(event) {
           event.preventDefault();
   
           bb.post(
               'client/servicedomain/lock',
               { order_id: {{ order.id }}, CSRFToken: "{{ CSRFToken }}" },
               function(result) {
                   bb.msg('Domain locked');
                   $('#domain-lock').toggle();
                   $('#domain-unlock').toggle();
               }
           );
       });
   
       $('#domain-unlock').on('click', function(event) {
           event.preventDefault();
   
           bb.post(
               'client/servicedomain/unlock',
               { order_id: {{ order.id }}, CSRFToken: "{{ CSRFToken }}" },
               function(result) {
                   bb.msg('Domain unlocked');
                   $('#domain-lock').toggle();
                   $('#domain-unlock').toggle();
               }
           );
       });
   
       $('#domain-enable-pp').on('click', function(event) {
           event.preventDefault();
   
           bb.post(
               'client/servicedomain/enable_privacy_protection',
               { order_id: {{ order.id }}, CSRFToken: "{{ CSRFToken }}" },
               function(result) {
                   bb.msg('Privacy Protection enabled');
                   $('#domain-enable-pp').toggle();
                   $('#domain-disable-pp').toggle();
               }
           );
       });
   
       $('#domain-disable-pp').on('click', function(event) {
           event.preventDefault();
   
           bb.post(
               'client/servicedomain/disable_privacy_protection',
               { order_id: {{ order.id }}, CSRFToken: "{{ CSRFToken }}" },
               function(result) {
                   bb.msg('Privacy Protection disabled');
                   $('#domain-enable-pp').toggle();
                   $('#domain-disable-pp').toggle();
               }
           );
       });
   
       $('#get-epp').on('click', function(event) {
           event.preventDefault();
           bb.post(
               'client/servicedomain/get_transfer_code',
               { order_id: {{ order.id }}, CSRFToken: "{{ CSRFToken }}" },
               function(result) {
                   bb.msg('Domain transfer code is: ' + result);
               }
           );
       });
   
       $('#update-nameservers').on('submit', function(event) {
           bb.post(
               'client/servicedomain/update_nameservers',
               $(this).serialize(),
               function(result) {
                   bb.msg('Nameservers updated');
               }
           );
   
           return false;
       });
   
       $('#update-contact').on('submit', function(event) {
           bb.post(
               'client/servicedomain/update_contacts',
               $(this).serialize(),
               function(result) {
                   bb.msg('Contact details updated');
               }
           );
   
           return false;
       });
   });
</script>
{% endblock %}
{% endif %}