{% extends "layout_public.html.twig" %}

{% block meta_title %}{{ 'Reset password'|trans }}{% endblock %}
{% set company = guest.system_company %}

{% if settings.theme == 'dark' %}
    {% set logo_url =  company.logo_url_dark %}
{% else %}
    {% set logo_url =  company.logo_url %}
{% endif %}

{% block body_class %}page-password-reset{% endblock %}
{% block body %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
        {% if settings.login_page_show_logo %}
            <div class="d-flex justify-content-center">
                <a href="{{ settings.login_page_logo_url|default('/') }}" target="_blank">
                    <img class="my-4 navbar-brand navbar-brand-autodark" height="50px" src="{{ logo_url }}" alt="{{ company.name }}"/>
                </a>
            </div>
        {% endif %}
        </div>
        <form class="api-form auth card card-md" action="{{ 'api/guest/client/reset_password'|link }}" method="post" data-api-msg="{{ 'A password reset confirmation email will be sent to you if we found an account with that email address.'|trans }}">
          <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
          <div class="card-body">
            <h2 class="card-title text-center mb-4">{{ 'Reset your password'|trans }}</h2>
            <p class="text-secondary mb-4">{{ 'Enter your email to reset password. You will receive new password after reset link is confirmed.'|trans }}</p>
            <div class="mb-3">
              <label class="form-label">{{ 'Email'|trans }}</label>
              <input type="email" class="form-control" placeholder="{{ 'Enter your email address'|trans }}" name="email" value="{{ request.email }}" required="required" autofocus autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false"/>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary btn-4 w-100">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-2"
                >
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                  <path d="M3 7l9 6l9 -6" />
                </svg>
                {{ 'Reset password'|trans }}
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3"><a href="{{ 'login'|link }}">{{ 'Back to login'|trans }}</a></div>
      </div>
    </div>
{% endblock %}
