{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'Client Area'|trans }}{% endblock %}
{% block page_header %}{{ 'Dashboard'|trans }}{% endblock %}

{% block body_class %}dashboard{% endblock %}
{% block breadcrumbs %}
    {% if not settings.hide_dashboard_breadcrumb %}
        <ul class="breadcrumb">
            <li><a href="{{ '/'|link }}">{{ 'Home'|trans }}</a> <span class="dropdown-divider">/</span></li>
            <li class="active">{{ 'Dashboard'|trans }}</li>
        </ul>
    {% endif %}
{% endblock %}

{% import "macro_functions.html.twig" as mf %}

{% block content %}
    {% if settings.showcase_enabled %}
    <div class="row row-deck row-cards mb-3">
       <div class="col-md-12">
          <div class="card card-sm">
             <div class="card-status-top bg-{% if settings.theme_color == 1 %}primary{% elseif settings.theme_color == 2 %}purple{% elseif settings.theme_color == 3 %}pink{% elseif settings.theme_color == 4 %}red{% elseif settings.theme_color == 5 %}orange{% elseif settings.theme_color == 6 %}yellow{% elseif settings.theme_color == 7 %}green{% elseif settings.theme_color == 8 %}teal{% else %}indigo{% endif %}"></div>
             <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start">
                <div class="mt-3">{{ settings.showcase_text |markdown }}</div>
                {% if (settings.showcase_button_url) and (settings.showcase_button_title) %}
                <a class="btn btn-{% if settings.theme_color == 1 %}primary{% elseif settings.theme_color == 2 %}purple{% elseif settings.theme_color == 3 %}pink{% elseif settings.theme_color == 4 %}red{% elseif settings.theme_color == 5 %}orange{% elseif settings.theme_color == 6 %}yellow{% elseif settings.theme_color == 7 %}green{% elseif settings.theme_color == 8 %}teal{% else %}indigo{% endif %}" href="{{ settings.showcase_button_url }}">{{ settings.showcase_button_title }}</a>
                {% endif %}
             </div>
          </div>
       </div>
    </div>
    {% endif %}

    {% if client %}
        {% set tickets = client.support_ticket_get_list({ "status": 'on_hold' }) %}
        {% if tickets.total > 0 %}
            <div class="row">
                <div class="col-md-12">
                    {% for i, ticket in tickets.list %}
                        <div class="alert alert-info d-flex justify-content-between" role="alert">
                            <span>Ticket <strong>#{{ ticket.id }}</strong> was replied to {{ ticket.updated_at|timeago }} {{ 'ago'|trans }}.</span><a
                                href="{{ 'support/ticket'|link }}/{{ ticket.id }}"
                                class="alert-link">{{ 'Reply'|trans }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div>
            <div class="row row-cards mb-4">
                <div class="col-sm-6 col-lg-4">
                  <a class="card card-sm card-link" href="{{ 'order/service'|link }}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-green text-white avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M15 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div class="font-weight-medium">{{ client.order_get_list({ "hide_addons": 1}).total }} {{ 'Orders'|trans }}</div>
                          <div class="text-secondary">{{ client.order_get_list({ "hide_addons": 1, "status": "active" }).total }} {{ 'Active'|trans }}</div>
                          <div class="text-secondary">{{ client.order_get_list({ "expiring": 1 }).total }} {{ 'Expiring'|trans }}</div>
                        </div>
                        <div class="col-auto"></div>
                      </div>
                    </div>
                  </a>
                </div>
                
                <div class="col-sm-6 col-lg-4">
                  <a class="card card-sm card-link" href="{{ 'invoice'|link }}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-danger text-white avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2" /><path d="M9 7l1 0" /><path d="M9 13l6 0" /><path d="M13 17l2 0" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div class="font-weight-medium">{{ client.invoice_get_list().total }} {{ 'Invoices'|trans }}</div>
                          <div class="text-secondary">{{ client.invoice_get_list({ "status": "paid" }).total }} {{ 'Paid'|trans }}</div>
                          <div class="text-secondary">{{ client.invoice_get_list({ "status": "unpaid" }).total }} {{ 'Unpaid'|trans }}</div>
                        </div>
                        <div class="col-auto"></div>
                      </div>
                    </div>
                  </a>
                </div>
                
                <div class="col-sm-6 col-lg-4">
                  <a class="card card-sm card-link" href="{{ 'support'|link }}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-info text-white avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 12a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M15 15l3.35 3.35" /><path d="M9 15l-3.35 3.35" /><path d="M5.65 5.65l3.35 3.35" /><path d="M18.35 5.65l-3.35 3.35" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div class="font-weight-medium">{{ client.support_ticket_get_list().total }} {{ 'Tickets'|trans }}</div>
                          <div class="text-secondary">{{ client.support_ticket_get_list({ "status": 'open' }).total }} {{ 'Open'|trans }}</div>
                          <div class="text-secondary">{{ client.support_ticket_get_list({ "status": 'on_hold' }).total }} {{ 'On Hold'|trans }}</div>
                        </div>
                        <div class="col-auto"></div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-12">
                  <div class="card card-sm">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-3">
                          <span class="avatar avatar-md bg-azure-lt text-azure">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                          </span>
                          <div>
                            <div class="fw-semibold">
                              {{ profile.email }}
                            </div>
                            <div class="text-muted small">
                              {{ 'Client ID'|trans }} #{{ profile.id }}
                            </div>
                          </div>
                        </div>

                        <div class="d-flex align-items-center gap-3">
                          <div class="text-end">
                            <div class="text-muted small">{{ 'Balance'|trans }}</div>
                            <div class="fw-bold">
                              {{ profile.balance | money(profile.currency) }}
                            </div>
                          </div>
                          <a href="{{ 'client/profile'|link }}" class="btn btn-sm btn-outline-primary">
                            {{ 'Update'|trans }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row row-cards">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                          <div class="d-flex align-items-center justify-content-between w-100">
                            <h3 class="card-title mb-0">{{ 'Recent orders'|trans }}</h3>
                            <div class="btn-list">
                              <a href="{{ 'order/service'|link }}" class="btn btn-sm btn-secondary">
                                {{ 'All orders'|trans }}
                              </a>
                              <a href="{{ 'order'|link }}" class="btn btn-sm btn-primary">
                                {{ 'New order'|trans }}
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-1">
                            {% if client.order_get_list({ "per_page": 5, "page": request.page, "hide_addons": 1 }).list %}
                                <div class="list-group list-group-flush">
                                    {% for i, order in client.order_get_list({ "per_page": 5, "page": request.page, "hide_addons": 1 }).list %}
                                        <a href="{{ 'order/service/manage'|link }}/{{ order.id }}"
                                           class="list-group-item d-flex justify-content-between align-items-center" aria-current="true">
                                            <div>
                                                <div>
                                                    <span><strong>#{{ order.id }}</strong></span>&nbsp;<span>{{ order.title|truncate(45) }}</span>
                                                </div>
                                                <span class="text-secondary small" title="{{ order.updated_at|format_date }}">{{ order.updated_at|timeago }} {{ 'ago'|trans }}</span>
                                            </div>
                                            <div>
                                                <span class="badge {% if order.status == 'active' %}bg-success text-success-fg{% elseif order.status == 'pending_setup' %}bg-warning text-warning-fg{% elseif order.status == 'failed_setup' or order.status == 'suspended' or order.status == 'failed_renew' %}bg-danger text-danger-fg{% elseif order.status == 'canceled' %}bg-secondary text-secondary-fg{% endif %}">{{ mf.status_name(order.status) }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-center my-2 p-2">
                                    <span class="m-0">{{ 'No recent orders'|trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                          <div class="d-flex align-items-center justify-content-between w-100">
                            <h3 class="card-title mb-0">{{ 'Support tickets'|trans }}</h3>
                            <div class="btn-list">
                              <a href="{{ 'support'|link }}" class="btn btn-sm btn-secondary">
                                {{ 'All tickets'|trans }}
                              </a>
                              <a href="{{ 'support'|link({ 'ticket': 1 }) }}" class="btn btn-sm btn-primary">
                                {{ 'New ticket'|trans }}
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-1">
                            {% if client.support_ticket_get_list({ "per_page": 5 }).list %}
                                <div class="list-group list-group-flush">
                                    {% for i, ticket in client.support_ticket_get_list({ "per_page": 5 }).list %}
                                        <a href="{{ 'support/ticket'|link }}/{{ ticket.id }}"
                                           class="list-group-item d-flex justify-content-between align-items-center" aria-current="true">
                                            <div>
                                                <div>
                                                    <span><strong>#{{ ticket.id }}</strong></span>&nbsp;<span>{{ ticket.subject|truncate(45) }}</span>
                                                </div>
                                                <span class="text-secondary small" title="{{ ticket.updated_at|format_date }}">{{ ticket.updated_at|timeago }} {{ 'ago'|trans }}</span>
                                            </div>
                                            <div>
                                                <span class="badge {% if ticket.status == 'open' %}bg-success text-success-fg{% elseif ticket.status == 'on_hold' %}bg-warning text-warning-fg{% elseif ticket.status == 'closed' %}bg-secondary text-secondary-fg{% endif %}">{{ mf.status_name(ticket.status) }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-center my-2 p-2">
                                    <span class="m-0">{{ 'No recent support tickets'|trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% set cardCount = 2 %}
        {% if guest.extension_is_on({"mod":"news"}) %}{% set cardCount = cardCount + 1 %}{% endif %}
        {% if guest.support_kb_enabled() %}{% set cardCount = cardCount + 1 %}{% endif %}

        {% set rowClass = '' %}
        {% set colClass = 'col-12 col-sm-6 col-md-4 col-lg-3' %}

        {% if cardCount == 3 %}
          {% set colClass = 'col-12 col-sm-6 col-md-4 col-lg-4' %}
        {% elseif cardCount == 2 %}
          {% set colClass = 'col-12 col-sm-6 col-md-4 col-lg-4' %}
          {% set rowClass = 'justify-content-center' %}
        {% elseif cardCount == 1 %}
          {% set colClass = 'col-12 col-sm-8 col-md-6 col-lg-6' %}
          {% set rowClass = 'justify-content-center' %}
        {% endif %}

        <div class="row row-cards {{ rowClass }}">
            {% set domainProducts = guest.product_get_list({ "type": "domain" }) %}
            {% if domainProducts.list|length > 0 %}
            <div class="card">
                <div class="card-body" id="register">
                    <form id="domain-search-transfer-form">
                        <div class="row g-2 mb-3">
                            <div class="col-12 col-md-8">
                                <input type="text" class="form-control form-control-lg" placeholder="Enter your domain name" aria-label="Domain Name" name="domain_name" value="{{ request.domain_name }}" autocapitalize="none" required>
                            </div>
                            <div class="col-12 col-md-4 d-flex gap-2">
                                <button class="btn btn-primary btn-lg w-100 w-md-auto flex-fill flex-md-grow-0" type="button" id="domain-check">{{ 'Search'|trans }}</button>
                            </div>
                        </div>
                        <p class="text-muted text-center mt-4" id="info-text">Search for your perfect domain name.</p>
                    </form>
                </div>
            </div>
            {% endif %}

            <div class="{{ colClass }} d-flex">
                <div class="card bg-red text-red-fg d-print-none h-100 w-100">
                    <div class="card-stamp">
                        <div class="card-stamp-icon bg-white text-red">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M17 17h-11v-14h-2"></path>
                                <path d="M6 5l14 1l-1 7h-13"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>{{ 'Order'|trans }}</h2>
                        <p>{{ 'Order new products and services'|trans }}</p>
                        <div class="row">
                            <div class="mt-2">
                                <a href="{{ '/order'|link }}" class="btn btn-outline-light w-100">
                                {{ 'Order'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="{{ colClass }} d-flex">
                <div class="card bg-azure text-azure-fg d-print-none h-100 w-100">
                    <div class="card-stamp">
                        <div class="card-stamp-icon bg-white text-azure">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>{{ 'Profile'|trans }}</h2>
                        <p>{{ 'You are logged out'|trans }}</p>
                        <div class="row g-2 mt-2">
                          <div class="col-6">
                            <a href="{{ '/login'|link }}" class="btn btn-outline-light w-100">
                              {{ 'Login'|trans }}
                            </a>
                          </div>
                          <div class="col-6">
                            <a href="{{ '/signup'|link }}" class="btn btn-outline-light w-100">
                              {{ 'Register'|trans }}
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if guest.extension_is_on({"mod":"news"}) %}
            <div class="{{ colClass }} d-flex">
                <div class="card bg-green text-green-fg d-print-none h-100 w-100">
                    <div class="card-stamp">
                        <div class="card-stamp-icon bg-white text-green">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"></path>
                                <path d="M8 8l4 0"></path>
                                <path d="M8 12l4 0"></path>
                                <path d="M8 16l4 0"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>{{ 'News'|trans }}</h2>
                        <p>{{ 'Latest news and announcements' | trans }}</p>
                        <div class="row">
                            <div class="mt-2">
                                <a href="{{ '/news'|link }}" class="btn btn-outline-light w-100">
                                {{ 'Announcements'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if guest.support_kb_enabled() %}
            <div class="{{ colClass }} d-flex">
                <div class="card bg-indigo text-azure-fg d-print-none h-100 w-100">
                    <div class="card-stamp">
                        <div class="card-stamp-icon bg-white text-azure">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>{{ 'Knowledge Base'|trans }}</h2>
                        <p>{{ 'Find answers to frequent questions' | trans }}</p>
                        <div class="row">
                            <div class="mt-2">
                                <a href="{{ '/support/kb'|link }}" class="btn btn-outline-light w-100">
                                {{ 'Knowledge Base'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    <script>
    document.addEventListener("DOMContentLoaded", function () {

        const btn   = document.getElementById("domain-check");
        const input = document.querySelector('input[name="domain_name"]');
        const form  = document.getElementById("domain-search-transfer-form");

        if (!input || !form) return;

        function handleSubmit() {

            const domain = input.value.trim();

            if (!domain) {
                alert("Please enter a domain name");
                return;
            }

            sessionStorage.setItem("namingo_domain", domain);

            window.location.href = "/orderbutton?order=1";
        }

        if (btn) {
            btn.addEventListener("click", function (e) {
                e.preventDefault();
                handleSubmit();
            });
        }

        form.addEventListener("submit", function (e) {
            e.preventDefault();
            handleSubmit();
        });

    });
    </script>
    {% endif %}
{% endblock %}