{% extends "layout_public.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ 'Register'|trans }}{% endblock %}

{% set company = guest.system_company %}

{% if settings.theme == 'dark' %}
    {% set logo_url =  company.logo_url_dark %}
{% else %}
    {% set logo_url =  company.logo_url %}
{% endif %}

{% block body_class %}page-signup{% endblock %}
{% block body %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
        {% if settings.login_page_show_logo %}
            <div class="d-flex justify-content-center">
                <a href="{{ settings.login_page_logo_url|default('/') }}" target="_blank">
                    <img class="my-4 navbar-brand navbar-brand-autodark" height="50px" src="{{ logo_url }}" alt="{{ company.name }}"/>
                </a>
            </div>
        {% endif %}
        </div>
        <form class="api-form auth card card-md" action="{{ 'api/guest/client/create'|link }}" method="post" data-api-redirect="{{ '/'|link }}">
          <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
          {% set r = guest.client_required %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">{{ 'Create a new account'|trans }}</h2>

            <div class="mb-3">
                <label class="form-label" for="first-name">{{ 'First Name'|trans }}</label>
                <input class="form-control" id="first-name" type="text" name="first_name"
                       value="{{ request.first_name }}" required="required"/>
            </div>

            {% if 'last_name' in r %}
                <div class="mb-3">
                    <label class="form-label" for="last_name">{{ 'Last Name'|trans }}</label>
                    <input class="form-control" id="last_name" type="text" name="last_name"
                           value="{{ request.last_name }}" required="required"/>
                </div>
            {% endif %}

            <div class="mb-3">
                <label class="form-label" for="reg-email">{{ 'Email Address'|trans }}</label>
                <input class="form-control" id="reg-email" type="email" name="email"
                       value="{{ request.email }}" required="required"/>
            </div>

            {% if 'company' in r %}
                <div class="mb-3">
                    <label class="form-label" for="company">{{ 'Company'|trans }}</label>
                    <input class="form-control" id="company" type="text" name="company"
                           value="{{ request.company }}" required="required"/>
                </div>
            {% endif %}

            {% if 'birthday' in r %}
                <div class="mb-3">
                    <label class="form-label" for="birthday">{{ 'Birthday'|trans }}</label>
                    <input class="form-control" id="birthday" type="date" name="birthday" value=""/>
                </div>
            {% endif %}

            {% if 'gender' in r %}
                <div class="mb-3">
                    <label class="form-label" for="gender">{{ 'Gender'|trans }}</label>
                    <select class="form-select" id="gender" name="gender">
                        <option value="male">{{ 'Male'|trans }}</option>
                        <option value="female">{{ 'Female'|trans }}</option>
                        <option value="nonbinary">{{ 'Non-binary'|trans }}</option>
                        <option value="other">{{ 'Other'|trans }}Other</option>
                    </select>
                </div>
            {% endif %}

            {% if 'address_1' in r %}
                <div class="mb-3">
                    <label class="form-label" for="address_1">{{ 'Address'|trans }}</label>
                    <input class="form-control" id="address_1" type="text" name="address_1"
                           value="{{ request.address_1 }}"/>
                </div>
            {% endif %}

            {% if 'address_2' in r %}
                <div class="mb-3">
                    <label class="form-label" for="address_2">{{ 'Address 2'|trans }}</label>
                    <input class="form-control" id="address_2" type="text" name="address_2"
                           value="{{ request.address_2 }}"/>
                </div>
            {% endif %}

            {% if 'city' in r %}
                <div class="mb-3">
                    <label class="form-label" for="city">{{ 'City'|trans }}</label>
                    <input class="form-control" id="city" type="text" name="city"
                           value="{{ request.city }}"/>
                </div>
            {% endif %}

            {% if 'country' in r %}
                <div class="mb-3">
                    <label class="form-label" for="country">{{ 'Country'|trans }}</label>
                    <select class="form-select" id="country" name="country" required="required">
                        <option value="">{{ '-- Select country --'|trans }}</option>
                        {% for val,label in guest.system_countries %}
                            <option value="{{ val }}" label="{{ label|e }}">{{ label|e }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if 'state' in r %}
                <div class="mb-3">
                    <label class="form-label" for="state">{{ 'State'|trans }}</label>
                    <input class="form-control" id="state" type="text" name="state"
                           value="{{ request.state }}"/>
                </div>
            {% endif %}

            {% if 'postcode' in r %}
                <div class="mb-3">
                    <label class="form-label" for="postcode">{{ 'Zip/Postal Code'|trans }}</label>
                    <input class="form-control" id="postcode" type="text" name="postcode"
                           value="{{ request.postcode }}"/>
                </div>
            {% endif %}

            {% if 'phone' in r %}
                <div class="mb-3">
                    <label class="form-label" for="phone">{{ 'Phone Number'|trans }}</label>
                    <div class="input-group">
                        <input class="form-control" id="phone" type="text" name="phone_cc" value=""
                               style="width: 20%"/>
                        <input class="form-control" id="phone" type="text" name="phone"
                               value="{{ request.phone }}" style="width: 70%"/>
                    </div>
                </div>
            {% endif %}

            {% set custom_fields = guest.client_custom_fields %}
            {% for field_name, field in custom_fields %}
                {% if field.active %}
                    <div class="mb-3">
                        <label class="form-label"
                               for="{{ field_name }}">{{ field.title is not empty ? field.title : field_name | capitalize }}</label>
                        <input class="form-control" id="{{ field_name }}" type="text"
                               name="{{ field_name }}" value="{{ request.(field_name) }}"
                               {% if field.required %}required="required"{% endif %} />
                    </div>
                {% endif %}
            {% endfor %}

            <div class="mb-3">
                <label class="form-label" for="reg-password">{{ 'Password'|trans }}</label>
                <div class="input-group input-group-flat">
                  <input class="form-control password-field" id="reg-password" type="password" name="password" value=""
                       required="required"/>
                  <span class="input-group-text">
                    <a href="#" class="link-secondary toggle-password" title="Show password" data-show="Show password" data-hide="Hide password">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-1"
                      >
                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg
                    ></a>
                  </span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password-confirm">{{ 'Password confirm'|trans }}</label>
                <div class="input-group input-group-flat">
                  <input class="form-control password-field" id="password-confirm" type="password" name="password_confirm" value="" required="required"/>
                  <span class="input-group-text">
                    <a href="#" class="link-secondary toggle-password" title="Show password" data-show="Show password" data-hide="Hide password">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-1"
                      >
                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg
                    ></a>
                  </span>
                </div>
            </div>

            {{ mf.recaptcha }}

            {% if settings.signup_tos == 'explicit' %}
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                    <label class="form-check-label" for="flexCheckDefault">
                        <span>I agree to the <a href="{{ '/tos'|link }}" target="_blank">{{ 'terms of service'|trans }}</a> and <a href="{{ '/privacy-policy'|link }}" target="_blank">{{ 'privacy policy'|trans }}.</a></span>
                    </label>
                </div>
            </div>
            {% endif %}

            {% if settings.signup_tos == 'implicit' %}
            <div class="mb-3">
                <span class="text-muted mb-1">By creating an account, you agree to our <a href="{{ '/tos'|link }}" target="_blank">{{ 'terms of service'|trans }}</a> and <a href="{{ '/privacy-policy'|link }}" target="_blank">{{ 'privacy policy'|trans }}</a>.</span>
            </div>
            {% endif %}

            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">{{ 'Register'|trans }}</button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">{{ 'Already a user?'|trans }} <a href="{{ 'login'|link }}" tabindex="-1">{{ 'Login'|trans }}</a></div>
      </div>
    </div>
<script>
document.querySelectorAll('.toggle-password').forEach(btn => {

    btn.addEventListener('click', function (e) {
        e.preventDefault();

        const group = this.closest('.input-group');
        const input = group?.querySelector('.password-field');
        const icon = this.querySelector('svg');

        if (!input) return;

        if (input.type === 'password') {
            input.type = 'text';
            this.title = this.dataset.hide;

            icon.innerHTML = `
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" />
            `;
        } else {
            input.type = 'password';
            this.title = this.dataset.show;

            icon.innerHTML = `
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
            `;
        }
    });

});
</script>
{% endblock %}