{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}
{% block meta_title %}{{ 'Client Area'|trans }}{% endblock %}
{% block page_header %}{{ 'Dashboard'|trans }}{% endblock %}
{% block body_class %}dashboard{% endblock %}
{% block breadcrumbs %}
{% if not settings.hide_dashboard_breadcrumb %}
<div class="mb-1">
   <ol class="breadcrumb" aria-label="breadcrumbs">
      <li class="breadcrumb-item"><a href="{{ '/'|link }}">{{ 'Home'|trans }}</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ 'Dashboard'|trans }}</a></li>
   </ol>
</div>
{% endif %}
{% endblock %}
{% import "macro_functions.html.twig" as mf %}
{% block content %}
{% if settings.showcase_enabled %}
<div class="row row-deck row-cards mb-3">
   <div class="col-md-12">
      <div class="card card-sm">
         <div class="card-status-top bg-yellow"></div>
         <div class="card-body">
            <p>{{ settings.showcase_text |markdown }}</p>
            {% if (settings.showcase_button_url) and (settings.showcase_button_title) %}
            <p><a class="btn btn-yellow" href="{{ settings.showcase_button_url }}">{{ settings.showcase_button_title }}</a></p>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% endif %}
{% if client %}
{% set tickets = client.support_ticket_get_list({ "status": 'on_hold' }) %}
{% if tickets.total > 0 %}
<div class="row">
   <article class="span12 data-block">
      <div class="data-container">
         <header>
            <h2>{{ 'Tickets waiting your reply'|trans }}</h2>
         </header>
         <section id="slimScroll1">
            <table class="table table-striped table-bordered table-condensed table-hover">
               <thead>
                  <tr>
                     <th>{{ 'Id'|trans }}</th>
                     <th>{{ 'Subject'|trans }}</th>
                     <th>{{ 'Help desk'|trans }}</th>
                     <th>{{ 'Status'|trans }}</th>
                     <th>{{ 'Last Updated'|trans }}</th>
                     <th>{{ 'Actions'|trans }}</th>
                  </tr>
               </thead>
               <tbody>
                  {% for i, ticket in tickets.list %}
                  <tr class="{{ cycle(['odd', 'even'], i) }}">
                     <td>{{ ticket.id }}</td>
                     <td><a href="{{ 'support/ticket'|link }}/{{ticket.id}}">{{ ticket.subject }}</a></td>
                     <td>{{ ticket.helpdesk.name }}</td>
                     <td><span class="label">{{ mf.status_name(ticket.status) }}</span></td>
                     <td title="{{ ticket.updated_at|format_datetime }}">{{ ticket.updated_at|timeago }} {{ 'ago'|trans }}</td>
                     <td><a href="{{ 'support/ticket'|link }}/{{ticket.id}}" class="btn btn-small btn-inverse">{{ 'Reply'|trans }}</a></td>
                  </tr>
                  {% else %}
                  <tr>
                     <td colspan="5">{{ 'The list is empty'|trans }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </section>
      </div>
   </article>
</div>
{% endif %}
<div class="row row-deck row-cards">
   <div class="col-sm-6 col-lg-4">
      <div class="card card-sm">
         <div class="card-status-top bg-green"></div>
         <div class="card-body">
            <div class="row align-items-center">
               <div class="col-auto">
                  <span class="bg-green text-white avatar">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                        <path d="M17 17h-11v-14h-2"></path>
                        <path d="M6 5l14 1l-1 7h-13"></path>
                     </svg>
                  </span>
               </div>
               <div class="col">
                  <div class="font-weight-medium">
                     {{ client.order_get_list({ "hide_addons": 1}).total }} {{ 'Orders'|trans }}
                  </div>
                  <div class="text-muted">
                     {{ client.order_get_list({ "hide_addons": 1, "status": "active" }).total }} {{ 'Active'|trans }}
                  </div>
                  <div class="text-muted">
                     {{ client.order_get_list({ "expiring": 1 }).total }} {{ 'Expiring'|trans }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-4">
      <div class="card card-sm">
         <div class="card-status-top bg-danger"></div>
         <div class="card-body">
            <div class="row align-items-center">
               <div class="col-auto">
                  <span class="bg-danger text-white avatar">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-dollar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path>
                        <path d="M12 3v3m0 12v3"></path>
                     </svg>
                  </span>
               </div>
               <div class="col">
                  <div class="font-weight-medium">
                     {{ client.invoice_get_list().total }} {{ 'Invoices'|trans }}
                  </div>
                  <div class="text-muted">
                     {{ client.invoice_get_list({ "status": "paid" }).total }} {{ 'Paid'|trans }}
                  </div>
                  <div class="text-muted">
                     {{ client.invoice_get_list({ "status": "unpaid" }).total }} {{ 'Unpaid'|trans }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-4">
      <div class="card card-sm">
         <div class="card-status-top bg-warning"></div>
         <div class="card-body">
            <div class="row align-items-center">
               <div class="col-auto">
                  <span class="bg-orange text-white avatar">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 9h8"></path>
                        <path d="M8 13h6"></path>
                        <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
                     </svg>
                  </span>
               </div>
               <div class="col">
                  <div class="font-weight-medium">
                     {{ client.support_ticket_get_list().total }} {{ 'Tickets'|trans }}
                  </div>
                  <div class="text-muted">
                     {{ client.support_ticket_get_list({ "status": 'open' }).total }} {{ 'Open'|trans }}
                  </div>
                  <div class="text-muted">
                     {{ client.support_ticket_get_list({ "status": 'on_hold' }).total }} {{ 'On Hold'|trans }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row row-deck row-cards mt-1">
   <div class="col-md-6">
      <div class="card">
         <div class="card-header">
            <h3 class="card-title">{{ 'Recent orders'|trans }}</h3>
         </div>
         <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap table-hover table-striped">
               <tbody>
                  {% for i, order in client.order_get_list({ "per_page": 5, "page": request.page, "hide_addons": 1 }).list %}
                  <tr class="{{ cycle(['odd', 'even'], i) }}">
                     <td>
                        <a href="{{ 'order/service/manage'|link }}/{{ order.id }}">{{ order.title|truncate(30) }}</a>
                     </td>
                     <td>
                        <span class="badge bg-{% if order.status == 'active' %}green{% elseif order.status == 'pending_setup' %}orange{% endif %}">{{ mf.status_name(order.status) }}</span>
                     </td>
                  </tr>
                  {% else %}
                  <tr>
                     <td colspan="3">{{ 'The list is empty'|trans }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="card">
         <div class="card-header">
            <h3 class="card-title">{{ 'Recent emails'|trans }}</h3>
         </div>
         <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap table-hover table-striped">
               <tbody>
                  {% for i, email in client.email_get_list({ "per_page": 5 }).list %}
                  <tr class="{{ cycle(['odd', 'even'], i) }}">
                     <td><a href="{{ 'email'|link }}/{{ email.id }}">{{ email.subject|truncate(30) }}</a></td>
                     <td title="{{ email.created_at|format_datetime }}">{{ email.created_at|timeago }} {{ 'ago'|trans }}</td>
                  </tr>
                  {% else %}
                  <tr>
                     <td colspan="2">{{ 'The list is empty'|trans }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}