{% set product = request.order ? guest.product_get({"id":request.order}) : null %}
<div class="row row-deck row-cards mb-3">
   <div class="col-md-12">
      {% set products = guest.product_get_list %}
      <div class="card">
         <div class="card-header">
            <h3 class="card-title">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                  <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
               </svg>
               &nbsp;{{ 'Product Configuration'|trans }}
            </h3>
			{% include 'mod_orderbutton_currency.html.twig' %}
         </div>
         <div class="card-body">
            {% if product %}
            <form method="post" class="form-{{ product.form_id ? guest.formbuilder_get( {"id":product.form_id}).style.type : 0 }}" action="{{ '/order'|link }}/{{ product.slug }}" id="add-to-cart" onsubmit="return false;">
            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
            {% set product_details %}
            <fieldset class="form-fieldset">
               <strong>{{ product.title }}</strong>
               {{ product.description | markdown }}
               {% if product.pricing.type == 'recurrent' %}
               {% set periods = guest.system_periods %}
               <select name="period" class="form-select" id="period-selector">
                  {% for code,prices in product.pricing.recurrent %}
                  {% if prices.enabled %}
                  <option value="{{code}}" data-bb-price="{{ prices.price | money_convert }}" name="period">{{ periods[code] }} - {{ prices.price | money_convert }}</option>
                  {% endif %}
                  {% endfor %}
               </select>
               {% elseif product.pricing.type == 'free' %}
               <span class="badge bg-info">{{ 'FREE'|trans }}</span>
               {% else %}
               <span class="badge bg-info">{{ product.pricing.once.price | money_convert }}</span>
               {% endif %}
            </fieldset>
            {% endset %}
            {% set tpl = "mod_service"~product.type~"_order_form.html.twig" %}
            {% if guest.system_template_exists({"file":tpl}) %}
            {% include tpl with product %}
            {% elseif product.form_id and guest.extension_is_on({"mod":"formbuilder"}) %}
            {{ product_details }}
            {% set form = guest.formbuilder_get({"id":product.form_id}) %}
            {% include 'mod_formbuilder_build.html.twig' with product %}
            {% else %}
            {{ product_details }}
            {% endif %}
            {% include 'mod_orderbutton_addons.html.twig' with product %}
            <input type="hidden" name="multiple" value="1" />
            <input type="hidden" name="id" value="{{ product.id }}" />
            <button type="submit" class="btn btn-primary" id="config-next">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M7 7l5 5l-5 5"></path>
                  <path d="M13 7l5 5l-5 5"></path>
               </svg>
               {{ 'Next'|trans }}
            </button>
            </form>
            {% endif %}
         </div>
      </div>
   </div>
</div>