{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}
{% block meta_title %}{{ 'Invoice management'|trans }}{% endblock %}
{% block body_class %}invoice-index{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page"><a href="#">{{ 'Invoices'|trans }}</a></li>
{% endblock %}
{% block page_header %}{{ 'List of invoices'|trans }}{% endblock %}
{% block page_subheader %}{{ 'All of your invoices can be found here. You can choose to see either paid or unpaid invoices by clicking corresponding button.'|trans }}{% endblock %}
{% block content %}
{% set unpaid_invoices = client.invoice_get_list({"status":"unpaid", "per_page":100}) %}
{% set paid_invoices = client.invoice_get_list({"per_page":10, "page":request.page, "status":"paid"}) %}
<div class="row row-deck row-cards">
   <div class="col-md-12">
      <div class="card border border-bottom-0">
         <div class="card-header">
            <h3 class="card-title">{{ 'List of invoices'|trans }}</h3>
         </div>
      </div>
   </div>
</div>
<div class="row row-deck row-cards">
   <div class="col-md-12">
      <div class="card border border-top-0">
         <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
               <li class="nav-item">
                  <a href="#tabs-unpaid" class="nav-link active bg-red-lt" data-bs-toggle="tab">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6.5 7h11"></path>
                        <path d="M6 20v-2a6 6 0 1 1 12 0v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1z"></path>
                        <path d="M6 4v2a6 6 0 1 0 12 0v-2a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1z"></path>
                     </svg>
                     Unpaid
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#tabs-paid" class="nav-link bg-green-lt" data-bs-toggle="tab">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"></path>
                        <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"></path>
                     </svg>
                     Paid
                  </a>
               </li>
            </ul>
         </div>
         <div class="card-body">
            <div class="tab-content">
               <div class="tab-pane active show" id="tabs-unpaid">
                  <div id="invoices-table-unpaid" class="table-responsive">
                     <table class="table table-vcenter text-nowrap table-bordered table-striped">
                        <thead>
                           <tr>
                              <th><button class="table-sort" data-sort="sort-title-u">{{ 'Title'|trans }}</button></th>
                              <th><button class="table-sort" data-sort="sort-date-u">{{ 'Invoice Date'|trans }}</button></th>
                              <th><button class="table-sort" data-sort="sort-due-u">{{ 'Due Date'|trans }}</button></th>
                              <th><button class="table-sort" data-sort="sort-total-u">{{ 'Total'|trans }}</button></th>
                              <th>&nbsp;</th>
                           </tr>
                        </thead>
                        <tbody class="table-tbody">
                           {% if unpaid_invoices.total > 0 %}
                           {% for i, invoice in unpaid_invoices.list %}
                           <tr class="{{ cycle(['odd', 'even'], i) }}">
                              <td class="sort-title-u"><a href="{{ 'invoice'|link }}/{{ invoice.hash }}">{{ "Proforma invoice #%05s"|format(invoice.id) }}</a></td>
                              <td class="sort-date-u">{{ invoice.created_at|format_date }}</td>
                              <td class="sort-due-u">{{ invoice.due_at|format_date }}</td>
                              <td class="sort-total-u">{{ invoice.total | money(invoice.currency) }}</td>
                              <td>
                                 <a class="btn btn-small btn-outline-red btn-icon" href="{{ 'invoice'|link }}/{{ invoice.hash }}" title="{{ 'Pay'|trans }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z"></path>
                                       <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4"></path>
                                       <path d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z"></path>
                                       <path d="M3 6v10c0 .888 .772 1.45 2 2"></path>
                                       <path d="M3 11c0 .888 .772 1.45 2 2"></path>
                                    </svg>
                                 </a>
                              </td>
                           </tr>
                           {% endfor %}
                           {% else %}
                           <tr>
                              <td colspan="5" >{{ 'The list is empty'|trans }}</td>
                           </tr>
                           {% endif %}
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tabs-paid">
                  <div id="invoices-table-paid" class="table-responsive">
                     <table class="table table-bordered table-vcenter text-nowrap table-striped">
                        <thead>
                           <tr>
                              <th><button class="table-sort" data-sort="sort-title-p">{{ 'Title'|trans }}</button></th>
                              <th><button class="table-sort" data-sort="sort-date-p">{{ 'Invoice Date'|trans }}</button></th>
                              <th><button class="table-sort" data-sort="sort-due-p">{{ 'Paid Date'|trans }}</button></th>
                              <th><button class="table-sort" data-sort="sort-total-p">{{ 'Total'|trans }}</button></th>
                              <th>&nbsp;</th>
                           </tr>
                        </thead>
                        <tbody class="table-tbody">
                           {% if paid_invoices.total > 0 %}
                           {% for i, invoice in paid_invoices.list %}
                           <tr class="{{ cycle(['odd', 'even'], i) }}">
                              <td class="sort-title-p"><a href="{{ 'invoice'|link }}/{{ invoice.hash }}">{{ "Invoice #%05s"|format(invoice.id) }}</a></td>
                              <td class="sort-date-p">{{ invoice.created_at|format_date }}</td>
                              <td class="sort-due-p">{{ invoice.paid_at|format_date }}</td>
                              <td class="sort-total-p">{{ invoice.total | money(invoice.currency) }}</td>
                              <td>
                                 <a href="{{ 'invoice'|link }}/{{ invoice.hash }}" class="btn btn-outline-green btn-small btn-icon" title="{{ 'View'|trans }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                       <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                    </svg>
                                 </a>
                              </td>
                           </tr>
                           {% endfor %}
                           {% else %}
                           <tr>
                              <td colspan="7">{{ 'The list is empty'|trans }}</td>
                           </tr>
                           {% endif %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <p>{{ unpaid_invoices.total }} unpaid invoices and {{ paid_invoices.total }} paid invoices</p>
            {% include "partial_pagination.html.twig" with { 'list': unpaid_invoices } %}
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block footerjs %}
<script src="{{ 'libs/list.js/dist/list.min.js' | asset_url }}" defer></script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
   const list = new List('invoices-table-unpaid', {
   	sortClass: 'table-sort',
   	listClass: 'table-tbody',
   	valueNames: [ 'sort-title-u', 'sort-due-u', 'sort-date-u', 'sort-total-u'
   	]
   });
   
   const list2 = new List('invoices-table-paid', {
   	sortClass: 'table-sort',
   	listClass: 'table-tbody',
   	valueNames: [ 'sort-title-p', 'sort-due-p', 'sort-date-p', 'sort-total-p'
   	]
   }); 
   })
</script>
{% endblock %}